$transition-time: 0.3s all;
$padding-default: 2rem;
$sidebar-icon-size: 50px;
$sidebar-game-icon-size: 140px;
$game-box-width: 1150px;
$game-box-height: 750px;
$game-box-border-radius: 15px;
$box-shadow-color: #000;
