@import "./themes/default.scss";

@mixin padding-margin-0 {
  margin: 0;
  padding: 0;
}

@mixin box-shadow {
  box-shadow: 0 0 15px rgba($box-shadow-color, 0.2);
}

@mixin PoppinsFont {
  font-family: "Poppins", sans-serif;
}

@mixin secondary-theme {
  & {
    background-color: white !important;
    color: black;
  }
  .game-menu {
    background-color: white;

    .game-btn {
      background-color: #45f6bb;
      color: white;
    }

    svg {
      fill: #45f6bb;
    }
  }
}
